<!DOCTYPE html>
<html>
    <head>
        <meta name="keywords" content="HTML,CSS,SCSS,PHP,Javascript">
        <meta name="description" content="?" >
        <meta name="author" content="Denis J Finkel" >
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../Styles/css/registration.css">
        <title>Login</title>
    </head>
<body>
    <form action="login.html" method="POST" id="registration-form">
        <?php include("../main.php"); get_UserInfo('name','email','password');?>
        <?php include("../Templates/_Registration.php"); ?>
        <h1 id="registration-title"><?=$login_Title?></h1>
        <h3><?=$labelMsg_Name?></h3>
        <div><?=$input_Name?></div>
        <h3><?=$labelMsg_Email?></h3>
        <div><?=$input_Email?></div>
        <h3><?=$labelMsg_Password?></h3>
        <div><?=$input_Password?></div>
        <input id="btn-registration" type="submit" value="Login" name="Login"/>    
    </form>
    <div>       
        <a href="../index.html">
            <button id="btn-registration-Home">Home</button>
        </a>
    </div>
</body>
</html>
  <!-- *  -->